/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */

/* Colors */
@black: #000000;
@darkgray: #282828;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #CCCCCC;
@grayf0: #F0F0F0;
@white: #FFFFFF;
@orange: #EB8025;

/* --------------------------------------------------------------
CUSTOM ITEM COUNTERS
-------------------------------------------------------------- */
.custom-counter-item {
    text-align: center;
    color: @white;

    & .timer {
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: .5px;
        margin: .5rem 0;
        display: block;
    }

    & img {
        display: block;
        margin: 0 auto;
    }

    & h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 300;
    }
}

/* --------------------------------------------------------------
CUSTOM MEDIA ITEMS
-------------------------------------------------------------- */
.custom-media {
    font-size: 1.05rem;
    line-height: 1.4rem;

    & img {
        margin-right: 1.5rem;
    }

    & h2 {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
    }
}

/* --------------------------------------------------------------
CUSTOM MEDIA ITEMS
-------------------------------------------------------------- */
.custom-testimonial-slider-item {
    & .custom-testimonial-slider-item-content {
        font-size: 1.6rem;
        line-height: 2.8rem;
        font-weight: 300;
        font-style: italic;
    }

    & .custom-testimonial-slider-item-img {
        & .img-testimonials {
            overflow: hidden;
            border-radius: 100%;
            max-width: 100px;
            border: 5px solid #e4e4e4;
        }

        & h2 {
            font-size: 1.7rem;
            margin-bottom: .5rem;
            margin-top: 1rem;
        }
    }


}
